/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.gu-Footer {
	position: relative;
	z-index: 1;
	background: $col-darkgray;

	color: #788794;

	.copyright {
		
	}

	@include breakpoint(large) {
		body.home & {
			margin-top: -10rem;
			padding-top: 10rem;
		}
	}
}


/**
 * Social networks & Newsletter form
 */
.gu-Footer-social {
	display: flex;
	flex-flow: column;
	padding: 3rem 0;
	border-bottom: 1px solid $col-medgray;

	@include breakpoint(large) {
		flex-flow: row nowrap;
	}
 
	&__newsletter {
		position: relative;

		@include breakpoint(large) {
			width: 50%;
			padding-right: 3rem;
		}

		> div > strong {
			position: absolute;
			z-index: 2;
			top: 1rem;
			left: 1rem;
			padding: .5rem;
			background: $col-medgray;
			pointer-events: none;

			color: #fff;
			font-family: $font-em;
			font-style: italic;
			font-weight: 400;
			letter-spacing: .05rem;
		}

		.is-Focused > strong {
			z-index: -2;
		}

		form {
			position: relative;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			padding: .5rem;
			background: $col-medgray;
		}

		// Email field
		.tnp-email {
			width: 60%;
			background: none;
			padding: 1rem;

			color: #fff;
			font-family: $font-em;
			font-style: italic;
			letter-spacing: .05rem;
		}

		// Submit field
		.tnp-submit {
			width: 35%;
			@extend %submitBtn; // see ../_4_redefine/_form.scss
		}
	}

	&__networks {
		@include breakpoint(large) {
			width: 50%;
			padding-left: 3rem;
			text-align: right;
		}

		> strong,
		> ul {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}

		li {
			display: inline-block;
			vertical-align: middle;
			padding: 0 .25rem;
		}
	}

	li {
		list-style-type: none;
		position: relative;

		&.is-Active .gu-Footer-social__modal {
			display: block;
		}

		&.is-Active .gu-Footer-social__link {
			background: $col-blue;
			border-color: $col-blue;

			.gu-Footer-social__icon {
				fill: #fff;
			}
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		width: 3rem;
		height: 3rem;
		border: 1px solid $col-darkgreen;
		border-radius: 50%;
		transition: .25s;

		span {
			display: none;
		}

		&:hover {
			background: $col-blue;
			border-color: $col-blue;

			.gu-Footer-social__icon {
				fill: #fff;
			}
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: .25s;

		width: 24px;
		height: 24px;
		fill: $col-darkgreen;
	}

	&__modal {
		display: none;
		position: absolute;
		z-index: 2;
		top: 100%;
		left: 50%;
		padding: 1rem;
		background: #fff;
		border-radius: .25rem;
		transform: translate(-50%, .5rem);
		box-shadow: 0 3px 1rem rgba(#000, .3);
		text-align: center;

		&:before {
			content: "";
			position: absolute;
			top: -10px;
			left: 50%;
			margin-left: -8px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 10px 8px;
			border-color: transparent transparent #fff transparent;
		}

		strong {
			display: block;
			margin-bottom: .5rem;
		}
	}
}


.gu-Footer-menu {
	padding: 3rem 0;

	ul {
		margin: 0;
		padding-left: 0;
	}

	li {
		@extend %no-bullets;
		
		a {
			display: block;
			padding: .25rem;

			text-decoration: none;
			color: $col-lightgray;
			line-height: 1.3;

			&:hover {
				color: #fff;
			}
		}
	}

	// First level list
	.menu {
		padding-left: 0;
		display: flex;
		flex-direction: column;

		@include breakpoint(large) {
			flex-flow: row wrap;
		}

		> li {
			flex: 1 0 auto;
			margin-bottom: 2rem;

			@include breakpoint(large) {
				flex: 0 0 25%;
				width: 25%;
				padding-right: 2rem;
			}

			> a {
				display: block;
				margin-bottom: .75rem;
				color: $col-main;
				font-weight: 700;
			}
		}
	}
}