/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.gu-Header { 
	position: relative;
	z-index: 3;

	&__topbar {
		background: $col-darkgray;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		font-size: .9rem;

		@include breakpoint(large) {
			height: 2.5rem;		
		}

		.gu-User {
			position: relative;
			z-index: 3;

			a {
				color: #fff;
				text-decoration: none;
			}

			span {
				display: inline-block;
			}

			&__icon {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				z-index: 3;
				pointer-events: none;

				width: 16px;
				height: 16px;
				margin-right: .5rem;
				fill: $col-darkgreen;
			}
		}

		.gu-User__account,
		.gu-Search__toggler {
			display: inline-block;
			vertical-align: middle;
			padding: 0 .75rem;
			margin-left: .5rem;
			line-height: 2.5rem;
		}
	}

	&__mainbar {
		background: $col-medgray;
		text-align: right;

		@include breakpoint(large) {
			padding-left: 45%;
		}
		//padding: 0 .75rem;
	}
}





