/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

.gu-Header-menu {
	@extend %no-bullets;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;

	@include breakpoint(large) {
		padding-right: .5rem; // + .25rem du dernier li = .75rem
	}

	> li {
		flex: 0 0 auto;
		padding: .75rem .5rem;
		position: relative;
		text-align: center;

		a {
			padding: .75rem;
			display: block;
			
			font-weight: 500;
			font-size: .9rem;
			letter-spacing: 0.05rem;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			transition: .25s;
		}

		&:hover a {
			background: rgba($col-darkgray, .5);

			span:after {
				transform: translate(0, 2px);
			}
		}

		&.active span {
			position: relative;
			color: $col-main;

			&:after {
				content: "";
				position: absolute;
				bottom: -.7rem;
				left: 0;
				width: 100%;
				height: 4px;
				background: $col-main;
				transition: .25s;
			}
		}

		> ul {
			@extend %no-bullets;

			display: none;
			position: absolute;
			left: .5rem;
			width: auto;
			background: $col-darkgray;
		}

		&:hover > ul {
			display: block;
		}
	}
}