/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

%button,
.button {
    padding: .75rem 1.5rem;

    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1rem;
}

%ghostButton,
.ghost-button {
    @extend %button;

    background: none;
    border: 1px solid;
}


%sliderNavBtn {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    vertical-align: middle;
}