/*------------------------------------*\
    #FORM
\*------------------------------------*/

$select-background: #fff;

form { 
	margin: 0; 
	padding: 0; 
}


label {
}


::placeholder {
	
}


input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=phone],
textarea { 
	border: none; 
	box-shadow: none; 
	outline: none;
	text-shadow: none;
	font-size: 1rem;
	font-family: $font-content;
	
	&:hover { 
		border: none; 
		outline: none;
	}
	
	&:focus { 
		border: none; 
		box-shadow: none;
		outline: none;
		text-shadow: none;
	}

	.gu-Main & {
		border: 1px solid $form-inputBorderColor;
	}
}

textarea {
	resize: vertical;
}


button,
input[type=submit] { 
	border: none; 
	cursor: pointer;
	font-size: 1rem;
	font-family: $font-content;
}

%submitBtn {
	background: $col-main;
	padding: 1rem;

	text-align: center;
	color: $col-darkgray;
	font-weight: 700;
	transition: .25s;

	&:hover {
		background: #fff;
	}
}

select {
}

.gu-Form-select {

	&__wrapper {
		cursor: pointer;
		display: inline-block;
		position: relative;
		width: 260px;
	}

	&__selected {
		position: absolute; 
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: transparent;
		padding: 8px 15px;
	}

	&__options {
		display: none; 
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 999;
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: darken($select-background, 5);

		li {
			margin: 0;
			padding: 12px 0;
			text-indent: 15px;
			border-top: 1px solid darken($select-background, 10);
			transition: .25s;
			
			&:hover {
				color: $select-background;
			}
			
			&[rel="hide"] {
				display: none;
			}
		}
	}
}