/*------------------------------------*\
    #GLOBALS
\*------------------------------------*/

*,
*:before,
*:after {
	box-sizing: border-box;
}

html, 
html > body,
body { 
	margin: 0;
	padding: 0; 
}

body { 
	font-size: 16px;
	font-family: $font-content;
	background: #efefef;

	&[data-no-scroll] {
		overflow: hidden;
	}
}

h1, h2, h3, h4 {
	a {
		text-decoration: none;
		color: inherit;
	}
}

p {
	line-height: 1.6;
}

::selection { 
	background: #101010;
	color: #fff;
}

.char-amp {
	font-family: $font-em;
}

.grid {
	width: 1200px;
	position: fixed;
	top: 0;
	left: 50%;
	height: 100%;
	z-index: 10000;
	pointer-events: none;
	transform: translate(-50%, 0);

	&:after {
		content: "";
		clear: both;
		display: block;
	}

	$rainbow: purple orange aqua #bada55 lime blue yellow orange red #ccc yellow green;
	@for $i from 1 through 12 {
		span:nth-child(#{$i}) {
			display: block;
			height: 100%;
			width: calc(100%/12);
			background: nth($rainbow, $i);
			float: left;
			opacity: .15;
		}
	}
}