/*------------------------------------*\
    #HOME
\*------------------------------------*/

/* HOME :: SLIDER */
.gu-Home-slider {
    position: relative;
    background:$col-darkgray;

    &__nav {
        position: absolute;
        z-index: 2;
        bottom: 2rem;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__navBtn {
        @extend %sliderNavBtn;
        position: relative;
        transition: .25s;
        cursor: pointer;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: #fff;
        }

        &:hover {
            background: rgba(#fff, .1);
        }
    }
}

/* HOME :: SLIDER SLIDE */
.gu-Home-slide {
    height: 40vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint(large) {
        height: 85vh;
    }

    &__inner {
        max-width: $container-width;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);

        text-align: center;
        text-transform: uppercase;
    }

    &__heading {
        display: block;
        margin-bottom: 1rem;
        color: #fff;
        font-size: 3.5rem;
        letter-spacing: .25rem;
        line-height: 1.15;
    }

    &__text {
        color: $col-main;
        font-size: 1.75rem;
        font-weight: 700;
        letter-spacing: .25rem;
    }

    &__link {
        @include ghost-button(#fff, #fff);
        display: inline-block;

        text-decoration: none;
        color: #fff;
    }
}



/* HOME :: MAIN CONTENT */
.gu-Home-text {
    position: relative;
    z-index: 2;

    &__container:after {
        content: "";
        clear: both;
        display: block;
    }

    &__picture {
        float: right;
        max-width: 40%;
        
        @include breakpoint(large) {
            transform: translate(0, -6rem);
        }

        img {
           width: 100%;
           //max-width: 100%;
        }
    }

    &__inner {
        @extend %section-layout;
        @extend %content-with-h1;
        padding-right: 50%;
        
    }
}



/* HOME :: NEWS */
.gu-Home-news {
    position: relative;
    padding: 3rem 0;

    .gu-Heading__h2 {
        @extend %heading-h2;
        display: inline-block;
        color: #fff;
    }

    .gu-Link-all {
        margin-left: 62.25%;
        color: $col-medgray;

        &:hover {
            color: lighten($col-medgray, 30%);
        }
    }

    @include breakpoint(large) {
        &:before {
            content: "";
            box-sizing: content-box;
            height: 80%;
            width: 50%;
            padding-right: 18.125rem;

            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            background: $col-medgray;
        }
    }
}

.gu-News-swiper {
    position: static;

    &__nav {
        position: absolute;
        top: 3rem;
        left: calc(50% + 10rem);
    }

    &__navBtn {
        @extend %sliderNavBtn;
        position: relative;
        transition: .25s;
        cursor: pointer;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: #fff;
        }

        &:hover {
            background: rgba(#fff, .1);
        }
    }
}


/* HOME :: PROJECTS */
.gu-Home-projects {
    @extend %content-with-h1;
}

.gu-Projects-header {

    .gu-Heading__h2 {
        @extend %heading-h2;
        display: inline-block;
    }

    .gu-Link-all {
        padding-left: 3rem;
        margin-left: 3rem;
        border-left: 1px solid rgba($col-lightgray, .6);
        color: $col-lightgray;

        &:hover {
            color: lighten($col-lightgray, 5%);
        }
    }
}

.gu-Project-home {
    position: relative;
    padding: 1.5rem 2rem;
    margin-bottom: 3px;

    @include breakpoint(large) {
        // Fix left offset for desktop
        margin-left: -$leftOffsetContentLarge * 0.25;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 3px;
        width: 100%;
    }

    &:before {
        background: rgba($col-lightgray, .5);
        transform: scale(0, 1);
        transform-origin: 100% 0;
        transition: transform .4s;
    }

    &:hover:before {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    &:after {
        background: rgba($col-lightgray, .3);
    }

    &__title {
        margin: 0 0 .25rem 0;
    }

    &__date {
        text-transform: uppercase;
        font-size: .75rem;
        letter-spacing: .1rem;
        color: $col-lightgray;
    }
}