/*------------------------------------*\
    #PROJECTS
\*------------------------------------*/


[data-template="projects"] {
    .gu-Main__header {
        background: $col-blue;
        margin-bottom: 4rem;
        color: #fff;

        &-content {
            @extend %content-with-h1;
        }

        &-title {
            @extend %heading-h2;
            display: inline-block;
        }

        &-introduction {
            font-family: $font-em;
            font-size: 1.25rem;
        }

        .container {
            position: relative;
            padding: 6.25rem 0;
        }
    }
}

.gu-Filter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5rem;
    background: $col-medgray;
    transform: translate(0, 50%);

    &-label {
        display: inline-block;
        vertical-align: middle;
        align-self: center;
    }

    &-dropdown {
        display: inline-block;
        vertical-align: middle;
    }

    select {
        padding: .75rem 1.5rem;
        border: 2px solid $col-bluegray;
        text-transform: uppercase;
        font-size: .75rem;
    }
}

.gu-Projects-list {
    margin-bottom: 2rem;
}

.gu-Project-card {
    position: relative;
    padding: 3rem 5rem;
    margin-bottom: 2px;
    background: #fff;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        bottom: 0;
        width: .5rem;
        opacity: 0;
        background: $col-blue;
        transform: translateX(-100%);
        transition-duration: .25s;
    }

    &:hover:before {
        opacity: 1;
        transform: translateX(0);
    }

    &__title {
        @extend %heading-h2;
        margin: 0;
        font-weight: 600;
        font-size: 1.75rem;
        color: $col-main;
    }

    &__date {
        display: inline-block;
        margin-bottom: 1.5rem;
        color: $col-bluegray;
        font-size: .75rem;
        text-transform: uppercase;
    }

    &__link {
        @extend %ghostButton;
        display: inline-block;
        margin-top: 1rem;
        font-size: .75rem;
        color: $col-blue;
        border-color: rgba($col-blue, .3);
        transition: .25s;

        &:hover {
            border-color: $col-blue;

            .gu-Icon-rightArrow {
                transform: translateX(.25rem);
            }
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .gu-Icon {
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        transition: .25s;

        &-login {
            fill: rgba($col-blue, .3);
            margin-right: .75rem;
        }

        &-rightArrow {
            fill: $col-blue;
            margin-left: .75rem;
        }
    }
}
